.frame-512948 {
	height: 92px;
	opacity: 0.5;
}

.frame-512948 .overlap-group-5 {
	height: 92px;
	position: relative;
}

.frame-512948 .rectangle-5 {
	background-color: var(--collection-1-color-main-3);
	border-radius: 44px;
	height: 86px;
	left: 2px;
	position: absolute;
	top: 0;
}

.frame-512948.questions213 .text-wrapper-64 {
	position: absolute;
}
.frame-512948 .vector-4 {
	height: 32px;
	left: 0;
	position: absolute;
	top: 60px;
	width: 42px;
}

.frame-512948 .div-5 {
	color: var(--collection-1-color-main-2);
	font-family: var(--DESCRIPTION-font-family);
	font-size: var(--DESCRIPTION-font-size);
	font-style: var(--DESCRIPTION-font-style);
	font-weight: var(--DESCRIPTION-font-weight);
	left: 34px;
	letter-spacing: var(--DESCRIPTION-letter-spacing);
	line-height: var(--DESCRIPTION-line-height);
	position: absolute;
	top: 31px;
	white-space: nowrap;
}

.frame-512948.property-1-15-default {
	width: 439px;
}

.frame-512948.property-1-15-variant-3 {
	width: 439px;
}

.frame-512948.property-1-15-variant-4 {
	width: 452px;
}

.frame-512948.property-1-15-variant-2 {
	width: 439px;
}

.frame-512948.property-1-15-variant-3 .overlap-group-5 {
	width: 382px;
}

.frame-512948.property-1-15-variant-2 .overlap-group-5 {
	width: 367px;
}

.frame-512948.property-1-15-default .rectangle-5 {
	width: 437px;
}

.frame-512948.property-1-15-variant-3 .rectangle-5 {
	width: 380px;
}

.frame-512948.property-1-15-variant-4 .rectangle-5 {
	width: 450px;
}

.frame-512948.property-1-15-variant-2 .rectangle-5 {
	width: 365px;
}

.frame-512948.property-1-15-default .div-5 {
	width: 373px;
}

.frame-512948.property-1-15-variant-3 .div-5 {
	width: 316px;
}

.frame-512948.property-1-15-variant-4 .div-5 {
	width: 386px;
}

.frame-512948.property-1-15-variant-2 .div-5 {
	width: 301px;
}
