.frame-512967 {
  height: 319px;
  width: 458px;
}

.frame-512967 .class-7 {
  background-color: #f95c3b !important;
  width: 458px !important;
}

.frame-512967 .class-8 {
  width: 458px !important;
}

.frame-512967 .class-9 {
  color: var(--collection-1-color-main-3) !important;
}

.frame-512967 .frame-instance {
  width: unset !important;
}

.frame-512967 .class-10 {
  color: var(--collection-1-color-main-3) !important;
  font-family: "Raleway", Helvetica !important;
  font-size: 20px !important;
  font-style: unset !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  line-height: 24.0px !important;
}

.frame-512967 .class-11 {
  font-family: "Raleway", Helvetica !important;
  font-size: 20px !important;
  font-style: unset !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  line-height: 24.0px !important;
}
