.frame-512945 {
  height: 319px;
  width: 458px;
}

.frame-512945 .class-4 {
  background-color: var(--collection-1-color-main) !important;
  width: 458px !important;
}

.frame-512945 .class-5 {
  width: 458px !important;
}

.frame-512945 .class-6 {
  color: var(--collection-1-color-main-3) !important;
}

.frame-512945 .frame-512859 {
  width: unset !important;
}
