.component-839 {
	height: 16px;
	position: relative;
	width: 119px;
}

.component-839 .text-wrapper-4 {
	cursor: pointer;
	transition: 0.2s ease;
	color: var(--collection-1-color-main-3);
	font-family: var(--BUTTONS-font-family);
	font-size: var(--BUTTONS-font-size);
	font-style: var(--BUTTONS-font-style);
	font-weight: var(--BUTTONS-font-weight);
	height: 16px;
	left: 0;
	letter-spacing: var(--BUTTONS-letter-spacing);
	line-height: var(--BUTTONS-line-height);
	position: absolute;
	top: -1px;
	white-space: nowrap;
	width: 119px;
}
