.component-838 {
  height: 16px;
  width: 85px;
}

.component-838 .component-837-instance {
  width: unset !important;
}

.component-838 .class-2 {
  color: var(--collection-1-color-main) !important;
}
