.component-840 {
  height: 16px;
  width: 119px;
}

.component-840 .class-3 {
  color: var(--collection-1-color-main) !important;
}

.component-840 .component-839-instance {
  width: unset !important;
}
