.frame-512946 {
  height: 319px;
  width: 458px;
}

.frame-512946 .class-12 {
  background-color: var(--collection-1-color-main) !important;
  width: 458px !important;
}

.frame-512946 .class-13 {
  width: 458px !important;
}

.frame-512946 .class-14 {
  color: var(--collection-1-color-main-3) !important;
}

.frame-512946 .frame-512859-instance {
  width: unset !important;
}
